.description .how-to-use-it-serif {
    background-color: #4a0071;
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #ffab00;
    text-align: center;
    text-decoration: none;
    color: #ffc800;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description .supported-sites-serif {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #4a0071;
    text-align: center;
    text-decoration: none;
    color: #5e009c;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}