.faq .faq-data-serif {
    background-color: #330063;
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #ffab00;
    text-align: center;
    text-decoration: none;
    color: #facf31;
    box-shadow: 0 5px 20px #460063;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}