.screen-button-serif {
    border: none;
    outline: none;
    margin: 0;
    background-color: inherit;
    font-size: 20px;
    font-family: serif;
    text-shadow: 1px 1px 5px #4a0071;
    font-style: italic;
    letter-spacing: 1px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-button-serif:hover { background-color: #ffab00 }