.screen-button-serif {
    border: none;
    outline: none;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    background-color: inherit;
    font-size: 20px;
    font-family: serif;
    text-shadow: 1px 1px 5px #ffab00;
    text-decoration: none;
    color: #facf31;
    font-style: italic;
    letter-spacing: 1px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-button-serif:hover { background-color: #451473 }