.converter .paste-url-serif {
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 1px;
    padding-top: 10px;
}