.description {
    background-color: #ffc800;
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px 40px #514500;
}