.home-screen {
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.description {
    background-color: #ffc800;
    margin-top: 75px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;
    flex: 1;
}