.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f306e;
    min-width: 160px;
    box-shadow: 0 10px 20px #514500;
    z-index: 1;
}

.dropdown-content button {
    background-color: inherit;
    border: 0;
    width: 100%;
    font-size: 18px;
    text-shadow: 1px 1px 5px grey;
    font-style: italic;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content button:hover { background-color: azure }