.converter .paste-url-pristina {
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    text-align: start;
    font-size: 26px;
    font-weight: bold;
    font-family: Pristina, serif;
    letter-spacing: 1px;
    padding-top: 20px;
}

.converter .ready-to-convert-pristina {
    background-color: #4a0071;
    font-family: Pristina, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #ffab00;
    text-align: center;
    text-decoration: none;
    color: #ffc800;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}