.dropdown-audiowide {
    background-color: #ffc800;
    float: left;
    overflow: hidden;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
}

.dropdown-audiowide .lang-button-audiowide {
    border: none;
    outline: none;
    margin: 0;
    padding-top: 10px;
    background-color: inherit;
    font-size: 22px;
    font-family: 'Audiowide', serif;
    text-shadow: 1px 1px 5px #4a0071;
    font-style: italic;
    letter-spacing: 1px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-audiowide:hover .dropdown-content {
    display: block;
}

.dropdown-audiowide:hover .lang-button-audiowide { background-color: #ffab00 }
.dropdown-audiowide:hover .dropdown-content { display: block; }