body { margin: 0; }

.AppBar {
    display: flex;
    background-color: #ffc800;
    overflow: hidden;
    min-height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 20px #514500;
}

.AppBar a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

.AppBar a.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    padding-top: 5px;
    font-family: Pristina, serif;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px grey;
    letter-spacing: 1px;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    float: right;
    overflow: hidden;
}

.AppBar a.Column {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 30px;
    font-family: Pristina, serif;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppBar a.Column:hover {
    background-color: #ffab00;
    color: black;
}