.Description {
    background-color: #ffc800;
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px 40px #514500;
}

.Description .Header {
    font-family: Pristina, serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px grey;
    text-align: center;
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 40px;
}

.Text {
    font-family: Pristina, serif;
    font-size: 28px;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 20px;
}

.Description {
    background-color: #ffc800;
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 10px 40px #514500;
}