.app-bar a.column-pristina {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    font-size: 30px;
    font-family: Pristina, serif;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-bar a.column-pristina:hover {
    background-color: #ffab00;
    color: black;
}