.converter {
    background-color: #ffc800;
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    border-radius: 10px;
    box-shadow: 0 10px 45px #514500;
}

.converter p {
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.converter .row {
    display: flex;
    flex: 50%;
    margin-left: 20px;
    width: 100%;
}

.converter .input {
    background-color: #220021;
    color: #ffc800;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    border-color: #5e009c;
    height: 40px;
    width: 85%;
    box-shadow: 0 5px 2px #2c0035;
}

.converter .button-column {
    width: 115px;
    margin-left: 20px;
}

.converter .download-button {
    background-color: #220021;
    color: #ffc800;
    width: 100%;
    padding: 10px 0;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    border-color: #5e009c;
    box-shadow: 0 5px 2px #2c0035;
}

.converter .next-button {
    background-color: #220021;
    color: #ffc800;
    width: 100%;
    padding: 10px 0;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    border-color: #5e009c;
    margin-top: 10px;
    box-shadow: 0 5px 2px #2c0035;
}

.converter .download-button:hover {
    background-color: #2c0035;
}

.converter .next-button:hover {
    background-color: #2c0035;
}

.converter .formats {
    background-color: #4a0071;
    width: 100%;
    height: 50px;
    margin-top: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.converter .formats .mp3-format {
    background-color: inherit;
    color: #ffc800;
    height: 100%;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;
    border: 0;
    width: 100px;
    border-bottom-left-radius: 10px;
}

.converter .formats .format {
    background-color: inherit;
    color: #ffc800;
    height: 100%;
    font-style: italic;
    text-shadow: 1px 1px 5px grey;
    font-size: 18px;
    border: 0;
    width: 100px;
    margin-left: 10px;
}

.converter .formats .format:hover {
    background-color: #2c0035;
}

.converter .formats .mp3-format:hover {
    background-color: #2c0035;
}