.converter {
    background-color: #2f002e;
    border-radius: 10px;
    box-shadow: 0 5px 25px #E72696;
}

.converter p {
    font-style: italic;
    text-shadow: 0 1px 4px #ffab00;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.converter .row {
    display: flex;
    flex: 50%;
    margin-left: 20px;
    width: 100%;
}

.converter .input {
    background-color: #220021;
    color: #f9c80e;
    text-shadow: 0 1px 4px #ffab00;
    font-style: italic;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    border-color: #E72696;
    height: 40px;
    width: 85%;
    box-shadow: 0 5px 2px #2c0035;
}

.converter .button-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.converter .download-button {
    background-color: #220021;
    color: #f9c80e;
    text-shadow: 0 1px 4px #ffab00;
    width: 115px;
    padding: 10px 0;
    font-style: italic;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    border-color: #E72696;
    box-shadow: 0 3px 2px #E72696;
}

.converter .next-button {
    background-color: #220021;
    color: #f9c80e;
    text-shadow: 0 1px 4px #ffab00;
    width: 115px;
    padding: 10px 0;
    font-style: italic;
    font-size: 18px;
    border-style: double;
    border-radius: 5px;
    margin-top: 12px;
    border-color: #E72696;
    box-shadow: 0 3px 2px #E72696;
}

.converter .download-button:hover {
    background-color: #3d002b;
}

.converter .download-button:active {
    transform: scale(0.98);
    box-shadow: 0 0 2px #E72696;
}

.converter .next-button:hover {
    background-color: #3d002b;
}

.converter .next-button:active {
    transform: scale(0.98);
    box-shadow: 0 0 2px #E72696;
}

.converter .formats {
    background-color: #330063;
    box-shadow: 0 5px 20px #460063;
    width: 100%;
    height: 50px;
    margin-top: 35px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.converter .formats .mp3-format {
    background-color: inherit;
    font-family: 'Audiowide', serif;
    font-size: 18px;
    font-style: italic;
    color: #f9c80e;
    text-shadow: 0 1px 4px #ffab00;
    letter-spacing: 1px;
    height: 100%;
    border: 0;
    width: 100px;
    border-bottom-left-radius: 10px;
}

.converter .formats .format {
    background-color: inherit;
    font-family: 'Audiowide', serif;
    font-size: 18px;
    font-style: italic;
    color: #f9c80e;
    text-shadow: 0 1px 4px #ffab00;
    letter-spacing: 1px;
    height: 100%;
    border: 0;
    width: 100px;
    margin-left: 10px;
}

.converter .formats .format:hover {
    background-color: #630047;
}

.converter .formats .mp3-format:hover {
    background-color: #630047;
}