.video-info {
    margin-top: 40px;
}

.video-info .cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-radius: 15px;
    border-color: #2de2e6;
    box-shadow: 2px 5px 5px #E72696;
}