body { margin: 0; }

.app-bar {
    display: flex;
    background-color: #ffc800;
    overflow: hidden;
    min-height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 20px #514500;
}

.app-bar a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

.app-bar a.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    padding-top: 5px;
    font-family: Pristina, serif;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #4a0071;
    letter-spacing: 1px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    float: right;
    overflow: hidden;
}