body { margin: 0; }

.app-bar {
    display: flex;
    background-color: #330063;
    overflow: hidden;
    min-height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 17px #E72696;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Pristina, serif;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px #ffab00;
    text-decoration: none;
    color: #facf31;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background-color: inherit;
    height: 75%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    float: right;
    overflow: hidden;
}