.video-info .video-title-audiowide {
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Audiowide', serif;
    letter-spacing: 1px;
    text-align: center;
}

.video-info .duration-audiowide {
    font-style: italic;
    text-shadow: 1px 1px 5px #4a0071;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Audiowide', serif;
    letter-spacing: 1px;
    text-align: center;
}