.video-info .video-title-audiowide {
    font-style: italic;
    color: #2de2e6;
    text-shadow: 0 1px 4px #E72696;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Audiowide', serif;
    letter-spacing: 1px;
    text-align: center;
}

.video-info .duration-audiowide {
    font-style: italic;
    color: #2de2e6;
    text-shadow: 0 1px 4px #E72696;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Audiowide', serif;
    letter-spacing: 1px;
    text-align: center;
}