.video-info .video-title-serif {
    font-style: italic;
    color: #2de2e6;
    text-shadow: 0 1px 4px #E72696;
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 1px;
    text-align: center;
}

.video-info .duration-serif {
    font-style: italic;
    color: #2de2e6;
    text-shadow: 0 1px 4px #E72696;
    font-size: 15px;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 1px;
    text-align: center;
}