.faq {
    background-color: #2f002e;
    margin-top: 75px;
    margin-right: 250px;
    margin-left: 250px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 25px #E72696;
}